.input {
  position: relative;
  top: 20px;
  bottom: 20px;
  padding: 25px;
}

.container-list {
  position: absolute;
  top: 200px;
  width: 100%;
}

.logo-title {
  color: rgb(39, 92, 207);
  text-align: center;
}

/* social and links contacts */

.contact-list li {
  display: inline-block;
  margin: 0px 5px;
}
